
@media (min-width: 1200px) {
  section:first-of-type::before {
    content: url(/tools/common/plane.png);
    position: absolute;

    margin: -198px 0 0 -150px;
  }

  section:first-of-type > h1::before {
    content: url(/tools/common/marieke.png);
    position: absolute;

    transform: scale(.8);
    margin: -233px -107px 0 0;
    right: 0;
  }

  body {
    overflow-y: scroll;
  }
}
