
@media (min-width: 1200px) {
  section:first-of-type::before {
    content: url(/tools/common/clara.png);
    position: absolute;

    margin: -195px 0 0 -160px;
  }

  section:first-of-type > h1::before {
    content: url(/tools/common/marieke.png);
    position: absolute;

    transform: scale(.9);
    margin: -220px -100px 0 0;
    right: 0;
  }

  body {
    overflow-y: scroll;
  }
}
