html, body { margin: 0px; }

body {
  font-family: 'Roboto', sans-serif;
  background-color: #eaeaea;
}

/** Metrics **/
h1 { font-weight: normal; font-size: 24px; }
h2 { font-size: 20px; }
h3 { font-size: 16px; }
p { font-size: 16px; }

/** Colors **/
a {
  color: #7E57C2;
  text-decoration: underline;
}

/** Header styling **/
header {
  background-color: black;
  background-image: linear-gradient(180deg, black, black 80%, #7B1FA2);
  box-sizing: border-box;

  padding-top: 30px;
  height: 350px;
}

header > img {
  display: block;
  margin: 0 auto;
}

/** Content positional styling **/
header > h1, section, footer {
  margin-left: auto;
  margin-right: auto;

  width: 80%;
  max-width: 1280px;
}

section:first-of-type {
  margin-top: -72px;
}

section, footer {
  background-color: white;
  padding-bottom: 1px;
  margin-top: 16px;
  position: relative;

  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

/** Content header styling **/
section > h1 {
  background-color: #4A148C;
  color: white;

  margin: 0px;
  line-height: 72px;
  text-indent: 16px;

  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  height: 72px;
}

section > h2, section > h3 {
  padding: 0 16px;
  margin: 0;
}

/** Content styling **/
section > p {
  margin: 16px;
}

section > ul {
  padding: 0 16px;
  margin-left: 24px;
}

/** Footer styling **/
footer > p {
  font-size: .8em;
  padding: 8px 8px 7px 8px;
  margin: 0px;
}

