html, body { margin: 0px; }

body {
  font-family: 'Roboto', sans-serif;
  background-image: url(/tools/common/background.jpg);
  background-color: #e8c4aa;
}

/** Metrics **/
h1 { font-weight: normal; font-size: 24px; }
h2 { font-size: 20px; }
h3 { font-size: 16px; }
p { font-size: 16px; }

/** Colors **/
a {
  color: #9d1d20;
  text-decoration: underline;
}

/** Header styling **/
header {
  box-sizing: border-box;
  height: 250px;
}

header > img {
  display: block;
  margin: 0 auto;
}

/** Content positional styling **/
header > h1, section, footer {
  margin-left: auto;
  margin-right: auto;

  width: 80%;
  max-width: 1280px;
}

section:first-of-type {
  margin-top: -16px;
}

section, footer {
  background-color: white;
  padding-bottom: 1px;
  margin-top: 16px;
  position: relative;

  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

/** Content header styling **/
section > h1 {
  background: url(/tools/common/header-bg.jpg), #883133;
  color: white;

  margin: 0px;
  line-height: 72px;
  text-indent: 16px;
  text-shadow: 0 0 5px #3a0609;

  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  height: 72px;
}

section > h2, section > h3 {
  padding: 0 16px;
  margin: 0;
}

/** Content styling **/
section > p {
  margin: 16px;
}

section > ul {
  padding: 0 16px;
  margin-left: 24px;
}

/** Footer styling **/
footer > p {
  font-size: .8em;
  padding: 8px 8px 7px 8px;
  margin: 0px;
}

