/** The primary target of this page are desktop users, so the mobile
    version really accounts to a hack. ***/

header > img {
  height: 150px;
}

header > h1, section, footer {
  width: 90%;
}

section:first-of-type {
  margin-top: -100px;
}

footer {
  display: none;
}

body { padding-bottom: 16px; }
