# TODO: Convert to nginx


RewriteEngine On

# These files will be generated based on the environment and needs.
RewriteRule ^manifest.json$ /manifest.php [L]
RewriteRule ^anime-legacy.js$ /scripts/aggregated.php [L]

# URLs used by the client-side application.
RewriteRule ^(events|floors|stewards|volunteers)/ / [L]

# Disable caching for the content package.
<FilesMatch "\.(css|js|json)">
  FileETag None

  Header set Cache-Control "max-age=0, no-cache, no-store, must-revalidate"
  Header set Pragma "no-cache"
  Header set Expires "Fri, 9 Jun 1989 01:00:00 GMT"
</FilesMatch>

RewriteRule ^schedule$ /schedule/ [R=301]
RewriteRule ^schedule/?(.*) /tools/schedule/$1 [L]

RewriteRule ^scheduler$ /scheduler/ [R=301]
RewriteRule ^scheduler/?(.*) /tools/event-scheduling-calculator/$1 [L]
