/** Headers **/

.material h1 {
  font-size: 24px;
  margin: 0px;
}

div.material-root {
  margin-top: 8px;
}

/** Text **/

@font-face {
  font-family: 'material-icons';
  src: url(/images/material-icons.woff) format('woff');
}

.material h2 {
  font-size: 16px;
  font-weight: bold;
  color: #898989;
  margin: 8px 16px;
}

.material p {
  font-size: 16px;
  margin: 8px 0;
}

.material p a {
  text-decoration: none;
  font-weight: bold;
  color: inherit;
}

/** Overlay **/

.material-full-overlay {
  position: fixed;

  transition: opacity .4s ease-in-out;
  transform: translateZ(0);

  background-color: rgba(0, 0, 0, 1);
  opacity: 0;

  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.material-full-overlay.visible {
  opacity: .01;
}

.material-full-overlay.main-menu {
  opacity: .3;
}

/** Ripple effect **/

@-webkit-keyframes ripple-animation {
  from { transform: scale(0.3); opacity: 0.4; }
  to   { transform: scale(2);   opacity: 0;   }
}

@-ms-keyframes ripple-animation {
  from { transform: scale(0.3); opacity: 0.4; }
  to   { transform: scale(2);   opacity: 0;   }
}

@keyframes ripple-animation {
  from { transform: scale(0.3); opacity: 0.4; }
  to   { transform: scale(2);   opacity: 0;   }
}

.material-ripple-effect.light { background-color: #aaa; }
.material-ripple-effect {
  pointer-events: none;
  position: absolute;

  border-radius: 50%;
  background-color: white;

  opacity: 0;

  -webkit-animation: ripple-animation 0.75s;
  -ms-animation: ripple-animation 0.75s;
  animation: ripple-animation 0.75s;
}

/** Menu **/

ul.material-menu.open {
  z-index: 2;
  opacity: 1;
}

ul.material-menu {
  position: absolute;
  overflow: hidden;

  display: none;

  padding: 8px 0px;
  margin: 0px;

  top: 4px;
  right: 4px;

  border-radius: 0px; /* for performance */
  opacity: 0;
  height: 0px;

  transition: opacity 0.4s ease-in-out,
              height 0.33s ease-in-out;
}

.material-menu > li:active { background-color: #ECEFF1; }
.material-menu > li {
  -webkit-user-select: none;
  -moz-user-select: none;

  transition: background-color .75s ease-in-out;

  position: relative;
  overflow: hidden;
  cursor: pointer;

  list-style: none;

  padding: 0px 16px;
  margin: 0px;

  min-width: 150px;
  line-height: 48px;
}

/** Icons **/

.material-icon {
  font-family: 'material-icons';
}

#happy-birthday {
  min-height: 105px;
  cursor: pointer !important;
  padding-bottom: 6px;
  display: none;
}

#happy-birthday img {
  float: left;
  height: 50px;
  padding-top: 8px;
  padding-right: 16px;
}

.material-icon-back:before { content: "\E5C4"; }
.material-icon-navigation:before { content: "\E5D2"; }
.material-icon-navigation-vertical:before { content: "\E5D4"; }

[material-main-button-function] { display: none; }

/** Cards **/

.material-card {
  background-color: white;
  border-radius: 2px;

  margin: 0 8px;
  padding: 16px;

  box-sizing: border-box;
  box-shadow: 0 2px 5px  0 rgba(0, 0, 0, 0.16),
              0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.material-card.pointer { cursor: pointer; }

.material-card h3,
.material-card footer {
  margin: -16px;
  padding: 8px 16px;

  font-weight: normal;
  font-size: 16px;
}

.material-card h3 {
  margin-bottom: 0px;
  border-bottom: 1px solid #eee;
}

.material-card footer::before {
  font-family: 'material-icons';
  content: "\e8ed";
  margin-right: 10px;
  position: relative;
  top: 2px;
}

.material-card footer {
  margin-top: 0px;
  border-top: 1px solid #eee;
  font-size: .8em;
  color: #8b8b8b;
}

.material-card-bottom-spacing {
  margin-bottom: 16px;
}

.material-card-root {
  margin: 0px 8px 16px 8px !important;
  cursor: default !important;
}

/** Forms: General layout **/

.material-form {
  display: flex;
  align-items: center;
}

.material-form-stretch {
  flex: 1;
}

/** Forms: Input field **/

.material-form-input-text { position: relative; }

.material-form-input-text > input {
  border: none;
  border-bottom: 1px solid #9e9e9e;
  outline: 0;

  box-sizing: border-box;
  font-size: 16px;
  height: 48px;

  width: 100%;

  transition: border-bottom .2s ease-in-out,
              box-shadow .2s ease-in-out;
}

.material-form-input-text > input.submit {
  padding-right: 32px;
}

.material-form-input-text > button[type=submit]:before { content: '\e163'; }
.material-form-input-text > button[type=submit] {
  position: absolute;

  background-color: transparent;
  outline: none;
  border: none;

  font-family: 'material-icons';
  font-size: 16px;

  line-height: 48px;
  padding: 0px 8px;

  right: 0px;
  top: 0px;
}

.material-form-input-text > input:focus {
  border-bottom: 1px solid #26a69a;
  box-shadow: 0 1px 0 0 #26a69a;
}

.material-form-input-text > .material-form-error {
  width: 100%;
}

/** Forms: Error description **/

.material-form .error input {
  border-bottom: 1px solid red;
  box-shadow: 0 1px 0 0 red;
}

.material-form .material-form-error {
  font-size: 14px;

  margin: 0px;
  color: rgba(255, 255, 255, 0);
  line-height: 0em;

  /* feedback transition */
  transition: margin-top 0.6s ease-in-out,
              color 0.6s ease-in-out,
              line-height 0.6s ease-in-out;
}

.material-form .error .material-form-error {
  margin-top: 4px;
  color: red;
  line-height: 1.3em;
}

/** Tabs **/

.material-tabs {
  background-color: #01579B;
  height: 56px;

  margin: 0px;
  padding: 0px;
}

.material-tabs > li {
  border-bottom: 4px solid #00476B;
  cursor: pointer;

  list-style-type: none;
  display: inline-block;

  text-align: center;
  text-transform: uppercase;
  line-height: 52px;
  color: #CFD8DC;
}

.material-tabs > li.selected {
  border-bottom: 4px solid white;
  color: white;
}

.material-tabs.tab-count-1 > li { width: 100%; }
.material-tabs.tab-count-2 > li { width: 50%; }
.material-tabs.tab-count-3 > li { width: 33%; }
.material-tabs.tab-count-4 > li { width: 25%; }

/** Lists **/

.material-list {
  background-color: white;

  margin: 0px;
  padding: 0px;
}

.material-list-border {
  margin-bottom: 16px;
  box-shadow: 0 2px 5px  0 rgba(0, 0, 0, 0.16),
              0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.material-list > li:active { background-color: #eee; }

.material-list-item,
.material-list > li {
  transition: background-color .75s ease-in-out;
  list-style-type: none;

  -webkit-user-select: none;
  -moz-user-select: none;

  position: relative;
  overflow: hidden;
  cursor: pointer;

  padding: 0 16px;
  margin: 0px;

  height: 72px;
}

.material-list > li > span.senior-badge {
  display: block;
  position: absolute;
  top: 42px;
  left: 41px;

  border-radius: 10px;
  width: 20px;
  height: 20px;

  background-color: #ba1621;

  font-family: 'material-icons';
  font-size: 1.7em;
  line-height: 20px;
  text-align: center;
  color: white;

  text-indent: -3px;
}

.material-list-item h2,
.material-list > li h2 {
  font-weight: normal;
  font-size: 16px;
  color: black;

  margin: 0px;
}

.material-list-item p,
.material-list > li p {
  font-size: 14px;
  margin: 0px;

  color: #8b8b8b;

  height: 18px;
  overflow: hidden;

  white-space: nowrap;
  text-overflow: ellipsis;
}

.material-list > li p span {
  color: black;
}

body {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

  margin: 0px;
  padding: 0px;

  overflow-x: hidden;
}

.background {
    padding-top: 8px;
}

div[role=button] { -webkit-user-select: none; }

.options-button { float: right; }

/** Error page **/

.error-page > * {
  display: flex;
}

/** Flex element **/

.full-size {
  display: flex;
  height: calc(100vh - 56px);
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

/** List: Event fields **/

li.list-item-no-content {
  line-height: 2em;
  height: 2em;

  color: #8b8b8b;
  font-size: .8em;
  cursor: default;
}

li.list-item-event:last-of-type { border-bottom: none; }
li.list-item-event {
  border-bottom: 1px solid #eee;

  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;

  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;

  -webkit-transition: background-color .4s cubic-bezier(.4, 0, .2, 1),
                      height .4s cubic-bezier(.4, 0, .2, 1);

  transition: background-color .4s cubic-bezier(.4, 0, .2, 1),
              height .4s cubic-bezier(.4, 0, .2, 1);

  height: 56px
}

.list-item-event.hidden {
  background-color: #e0f2f1;
}

.list-item-event.hidden h2::after,
.list-item-room-event .event.hidden::after {
  font-family: 'material-icons';
  content: '\e8f4';
  margin-left: 4px;
  color: #1976d2;
  font-size: .6em;
}

.list-item-event.active {
  background-color: #fff9c4;
}

.list-item-event.past-no-collapse > div.event > h2::after,
.list-item-event.past > div.event > h2::after,
.list-item-steward.past > div > h2::after,
.room-finished h3::after,
div.past > h2::after {
  font-family: 'material-icons';
  content: ' \e877';
  color: #1976d2;
}

.room-finished h3::after {
  position: relative;
  top: 2px;
  left: 2px;
  color: #1976d2;
}

div.past > h2::after { opacity: .8; }

.list-item-event.past-no-collapse > div.event > h2 {
  color: #8b8b8b;
}

.list-item-event.past-no-collapse h2 { margin-top: -2px; }
.list-item-event.past-no-collapse p { display: none; }
.list-item-event.past-no-collapse { height: 32px; }

.list-item-event.past {
  height: 32px;
}

.list-item-event.past > div.time {
  margin-top: -1px;
  height: 1.1em;
  overflow: hidden;
  color: #8b8b8b;
}

.list-item-event.past > div.event > h2 { color: #8b8b8b; }
.list-item-event.past > div.event > p { display: none; }

.list-item-event > div.time {
  font-size: 14px;
  width: 60px;
}

.list-item-event > div.event {
  width: calc(100% - 60px);
}

.list-item-event > div.event > h2,
.list-item-event > div.event > p {
  white-space: nowrap;
  text-overflow: ellipsis;

  overflow: hidden;

  width: 100%;
  height: 19px;
}

.list-item-event > div.event > p { margin-top: -1px; }
.list-item-event > div.event > h2 { height: 21px; }

.list-item-event.event-night h2::after {
  font-family: 'material-icons';
  font-size: .7em;

  content: "\e3a8";
  color: #1976d2;

  display: inline-block;
  transform: rotate(20deg);
  padding-left: 3px;
}

/** List: Room event fields **/

.list-room-event { margin: 4px 0 3px 0; }

.list-room-event .list-item-no-content {
  margin: -2px 0;
  padding: 0px;
}

li.list-item-room-event {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;

  padding: 0px;
  font-size: .8em;
  line-height: 1.6em;
  height: 1.6em;
}

.list-item-room-event.active > .event::before {
  position: absolute;
  margin-left: -16px;

  font-family: 'material-icons';

  content: "\e037";
  color: #e64a19;
}

.list-item-room-event > .time { width: 152px; }
.list-item-room-event > .event {
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

/** List: Steward fields **/

li.list-item-highlight {
  border-left: 4px solid #0D47A1;
}

li.list-item-highlight:first-of-type {
  border-top: 2px solid #0D47A1;
}

li.list-item-highlight:last-of-type {
  outline-bottom: 2px solid #0D47A1;
}

li.list-item-steward-no-pointer { cursor: default; }

li.list-item-steward.active:active {
  background-color: #FFF59D;
}

li.list-item-steward.active-backup h2:after {
  font-family: 'material-icons';
  font-size: .75em;

  margin-left: 4px;

  content: "\e52d";
  color: #43A047;
}

li.list-item-steward.unavailable {
  background-color: #ECEFF1;
}

li.list-item-steward.unavailable img {
  -webkit-filter: grayscale(1);
  filter: grayscale(1);
}

li.list-item-steward.unavailable h2:after {
  font-family: 'material-icons';
  font-size: .7em;

  margin-left: 4px;

  content: "\e644";
  color: #e64a19;
}

li.list-item-steward {
  transition: background-color .4s cubic-bezier(.4, 0, .2, 1),
              -webkit-filter .4s cubic-bezier(.4, 0, .2, 1);
}

.list-item-steward > img {
  display: inline-block;
  pointer-events: none;

  margin: 16px 16px 0 0;

  width: 40px;
  height: 40px;
}

.list-item-steward.active {
  background-color: #FFFDE7;
}

.list-item-steward.active + .list-item-steward.active > div {
  border-top: 1px solid #CFD8DC;
}

.list-item-steward.past {
  -webkit-filter: grayscale(1);
}

.list-item-steward.past div h2 {
  color: #8b8b8b;
}

.list-item-steward > div {
  display: inline-block;
  pointer-events: none;

  width: calc(100% - 64px);

  vertical-align: top;
  height: 71px;

  border-top: 1px solid #eee;
}

.stewards-page li:first-child {
  box-shadow: inset 0 7px 9px -7px rgba(0,0,0,0.4);
}

.stewards-page li:first-child > div {
  border-top: none;
}

.list-item-steward div h2 {
  margin: 16px 0 0px 0;

  text-overflow: ellipsis;

  white-space: nowrap;
  overflow: hidden;

  width: 100%;
  height: 21px;
}

.steward-telephone, .event-details {
  pointer-events: all;

  position: absolute;
  right: 16px;
  top: 16px;
}

.steward-telephone > a { color: #0D47A1; }
.event-details > a { color: #333333; cursor: pointer; }

.steward-telephone > a, .event-details > a {
  display: block;

  width: 38px;
  height: 38px;

  font-family: 'material-icons';
  font-size: 2.4em;
  font-smooth: always;

  text-decoration: none;
}

.warning-card.future { display: block; }

.warning-card {
  background-color: #ff4081;
  color: white;

  padding: 4px 8px;
  display: none;
}

.room-finished { padding-bottom: 8px; }
.room-finished h3 {
  color: #8b8b8b;
  border-bottom: none;
  padding-bottom: 0px;
}

.room-neil h3::after {
  font-family: 'material-icons';
  font-size: .6em;
  padding-left: 4px;
  content: '\e87d';
  color: #d81b60;
}

/** Main menu **/

nav#main-menu {
  position: absolute;
  z-index: 2;

  -webkit-transition: -webkit-transform .3s cubic-bezier(.4, 0, .2, 1);
  transition: transform .3s cubic-bezier(.4, 0, .2, 1);

  -webkit-transform: translateX(-100%) translateZ(0);
  transform: translateX(-100%) translateZ(0);

  box-shadow: 0 3px 10px rgba(0, 0, 0, .33);
  background-color: white;
  width: 280px;

  top: 0px;
  bottom: 0px;
  left: 0px;
}

nav#main-menu.visible {
  -webkit-transform: translateX(0) translateZ(0);
  transform: translateX(0) translateZ(0);
}

nav#main-menu > img {
  cursor: pointer;
  width: 280px;
}

nav#main-menu > h1 {
  background-color: #01579B;

  line-height: 48px;
  height: 48px;
  margin: -5px 0 0 0;

  text-indent: 12px;
  font-size: 20px;
  font-weight: normal;
  color: white;
}

nav#main-menu > ol {
  -webkit-user-select: none;

  border-top: 1px solid #dcdcdc;
  padding: 8px 0 0 0;
  margin: 8px 0 0 0;
}

nav#main-menu > ol:first-of-type {
  border-top: none;
  padding: 0px;
}

nav#main-menu > ol > li:active {
  background-color: #eee;
}

nav#main-menu > ol > li {
  transition: background-color .75s ease-in-out;

  position: relative;
  overflow: hidden;
  cursor: pointer;

  text-indent: 72px;

  line-height: 48px;
  height: 48px;
}

nav#main-menu > ol > li > img {
  position: absolute;
  top: 14px;
  left: 16px;

  width: 20px;
  height: 20px;

  border-radius: 4px;
}

nav#main-menu > ol > li.icon-overview::before {
  position: absolute;
  left: -55px;

  font-family: 'material-icons';
  font-size: 20px;

  content: "\e892";
}

nav#main-menu > ol > li.icon-schedule,
nav#main-menu > ol > li.icon-stewards {
  text-indent: 0px;
  padding-left: 72px;
}

nav#main-menu > ol > li.icon-schedule::before {
  position: absolute;
  left: 16px;

  font-family: 'material-icons';
  font-size: 22px;

  content: "\e616";
}

nav#main-menu > ol > li.icon-stewards::before {
  position: absolute;
  left: 16px;

  font-family: 'material-icons';
  font-size: 20px;

  content: "\e7ef";
}

nav#main-menu > ol > li > span > em {
  font-style: normal;
  color: #f4511e;
}

nav#main-menu > ol > li > span {
  position: absolute;
  pointer-events: none;
  font-size: .8em;
  font-weight: bold;
  color: #666;
  right: 16px;
}

nav#main-menu > .prod { display: none; }
nav#main-menu > .debug {
  border-top: 1px solid #dcdcdc;
  font-size: .8em;
  padding-left: 16px;
}

@media all and (max-height: 480px) {
  nav#main-menu > ol > li { height: 40px; }
}

/** Dynamic labels **/

span[content-label] {
  position: relative;
  text-indent: 0;
}

span[content-label] .current {
  position: absolute;
  right: 0;

  -webkit-transition: -webkit-transform .4s ease-in-out,
                     opacity .4s ease-in-out;

  transition: transform .4s ease-in-out,
              opacity .4s ease-in-out;

  opacity: 1;
}

span[content-label].update .current {
  -webkit-transform: translateY(.8em);
  transform: translateY(.8em);

  opacity: 0;
}

span[content-label] .upcoming {
  -webkit-transition: opacity .4s ease-in-out;
  transition: opacity .4s ease-in-out;

  opacity: 0;
}

span[content-label].update .upcoming {
  opacity: 1;
}

/** Page: Overview **/

.card-shift.card-shift-no-pointer { cursor: default !important; }

.card-shift {
  cursor: pointer !important;
  -webkit-user-select: none;
  -moz-user-select: none;
}

.card-shift h3 {
  border-bottom: 1px solid rgba(0, 0, 0, .15);
  font-size: 1.2em;
}

.card-shift p:last-child { margin-bottom: -8px; }

.card-shift-current {
  background-color: #e91e63;
  color: white;
}

.card-shift-upcoming {
  background-color: #ffeb3b;
}

.update-banner.hidden { opacity: 0; }
.update-banner {
  position: fixed;
  left: 16px;
  bottom: 16px;
  z-index: 42;

  width: calc(100% - 32px);
  max-width: 560px;

  cursor: pointer;
  background-color: #323232;
  border-radius: 2px;

  -webkit-transition: opacity .4s ease-in-out;
  transition: opacity .4s ease-in-out;

  line-height: 48px;
  text-indent: 16px;
  color: white;
}

/** The left-hand menu should always be visible **/

@media (min-width: 768px) {

.container {
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
}

nav#main-menu {
  position: static;

  -webkit-transform: none;
  transform: none;

  min-width: 280px;
  order: -1;
}

}

#async-operation-overlay {
  display: none;
  opacity: 0;

  align-items: center;
  justify-content: center;

  position: absolute;
  z-index: 1337;

  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  background-color: rgba(0, 0, 0, .7);

  -webkit-transition: opacity .4s ease-in-out;
  transition: opacity .4s ease-in-out;
}

#async-operation-overlay > img {
  max-width: 80%;
}
