body {
    font-family: 'Roboto', Arial, sans-serif;
    font-size: 16px;
}

a {
    color: #D32F2F;
    text-decoration: none;
}

h1 { cursor: pointer; }

div {
    overflow: hidden;
    transition: height 1s ease-in-out;
}

table.metrics td:first-of-type {
    font-weight: bold;
    padding-right: 16px;
}
