// Copyright 2017 Peter Beverloo. All rights reserved.
// Use of this source code is governed by the MIT license, a copy of which can
// be found in the LICENSE file.

template { display: none; }

@mixin desktop {
    @media (min-width: 768px) {
        @content;
    }
}

@mixin flex {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

@mixin flex-direction($direction) {
    -webkit-flex-direction: $direction;
    -ms-flex-direction: $direction;
    flex-direction: $direction;
}

@mixin text-overflow-ellipsis($max-width) {
    white-space: nowrap;

    text-overflow: ellipsis;
    overflow: hidden;

    max-width: $max-width;
}
