/** The left-hand menu should always be visible **/

.container {
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
}

nav#main-menu {
  position: static;

  -webkit-transform: none;
  transform: none;

  min-width: 280px;
  order: -1;
}

#content:not(.login-screen) {
  position: absolute;
  top: 56px;
  left: 280px;
  bottom: 0px;
  right: 0px;
}

header > div.material-icon-navigation {
  display: none;
}
