html, body { margin: 0px; padding: 0px; }
html { background-color: #f0f0f0; }

body {
  font-family: 'Roboto', Arial, sans-serif;
  font-size: 16px;

  max-width: 800px;
  margin: auto;
}

body > img { display: block; margin: 16px auto; }

/** General card styling **/

section {
  background-color: white;
  box-sizing: border-box;
  box-shadow: 0 2px 5px  0 rgba(0, 0, 0, 0.16),
              0 2px 10px 0 rgba(0, 0, 0, 0.12);

  border-radius: 2px;
  margin: 0 16px 16px 16px;
}

/** Header styling **/

section > header {
  border-bottom: 1px solid #eee;
  padding: 4px 16px;
}

section > header > h1,
section > header > h2 {
  font-weight: normal;
  color: #898989;
  margin: 0px;
}

section > header > h1 { font-size: 24px; }
section > header > h2 { font-size: 14px; }

/** Content (textual) styling **/

section > p {
  padding: 4px 16px;
  font-size: .8em;
  margin: 0;
}

section > p > a {
  font-weight: bold;
  color: black;
}

/** Content (form) styling **/
ol { margin: 8px 0; padding: 0 16px; }

ol > li {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

label {
  display: inline-block;
  line-height: 28px;
  width: 185px;
}

ol > li > select {
  height: 1.6em;
}

input[type="checkbox"] {
  margin-left: 0px;

  position: relative;
  top: 1px;
}

input[type="text"] {
  width: 535px;
}

/** Footer styling **/

section > footer {
  background-color: #227586;
  padding: 0 16px;
  color: white;
  font-size: 18px;
  overflow: hidden;

  /** Animation **/
  line-height: 0px;
  height: 0px;

  -webkit-transition: line-height .4s ease-in-out,
                      height .4s ease-in-out;

  transition: line-height .4s ease-in-out,
              height .4s ease-in-out;

  /** Chrome fix **/
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
}

section > footer.visible {
  line-height: 38px;
  height: 38px;
}
