// Copyright 2017 Peter Beverloo. All rights reserved.
// Use of this source code is governed by the MIT license, a copy of which can
// be found in the LICENSE file.

.card-markdown {
    padding: 8px 0 0 0;

    // All descendant Markdown elements arrange their own margin.
    h1, p {
        margin: 0 0 8px 0;
    }

    // ---- Headers ------------------------------------------------------------

    h1 {
        padding: 0 16px 4px 16px;

        border-bottom: 1px solid rgba(0, 0, 0, .15);

        font-size: 1.2em;
        font-weight: normal;
    }

    // ---- Textual content ----------------------------------------------------

    p {
        padding: 0 16px;
    }

    // ---- Image content ------------------------------------------------------

    @include mobile {
        p > img:first-child {
            padding-top: 8px;
            border-top: 1px solid rgba(0, 0, 0, 0.15);

            margin: 0 -16px -16px -16px;

            max-width: 100%;
            max-width: calc(100% + 32px);
        }
    }
}
