<template id="event-page">
  <div material-main-button-function="back"></div>
  <div class="background material">

    <div class="material-card material-list-item list-item-steward material-card-root">
      <div id="info-box">
        <h2 content="name"></h2>
        <p content="description"></p>
      </div>
    </div>

    <h2>Sessions</h2>
    <ol id="session-list" class="material-list material-list-border"></ol>

    <h2>Stewards</h2>
    <ol id="steward-list" class="material-list material-list-border"></ol>

  </div>
</template>
<template id="event-details-page">
  <div material-main-button-function="back"></div>
  <div class="background" id="event-details-content"></div>
</template>
<template id="event-error-page">
  <div class="full-size error-page">
    <img src="/images/no-photo.png" />
    <h2>Oops!</h2>
    <p>
      The event you requested cannot be found.
    </p>
  </div>
</template>
