<template id="login">
  <div id="content" class="identification">
     <div class="identification-content">
      <img src="/images/login-logo.png" alt="Anime 2017: Marieke's Magical Miracle" />
      <section class="material material-card">
        <h1><?php echo $environment->getName(); ?></h1>
        <p>
          Log in to the <?php echo $environment->getName(); ?> for volunteers of Anime
          <?php echo $environment->getYear(); ?> using your full name. Please contact
          <a href="sms:+447427457387">Peter</a> in case you forgot your name!
        </p>
        <form id="login-form" class="material-form">
          <div class="material-form-input-text material-form-stretch">
            <input type="text" class="submit" placeholder="Full name" id="login-name" />
            <button type="submit"></button>
            <p class="material-form-error" id="login-error">
              An unknown error has occurred.
            </p>
          </div>
        </form>
      </section>
    </div>
  </div>
</template>