<template id="layout">
  <header>
    <div role="button" material-main-button class="material-icon material-icon-navigation material-ripple"></div>
    <div role="button" material-menu-id="options-menu" class="options-button material-icon material-icon-navigation-vertical material-ripple"></div>
    <h1 id="header-title">Anime <?php echo $environment->getYear(); ?></h1>
  </header>
  <div id="content" class="application">
    <p>
      Something went wrong if you see this.
    </p>
  </div>
  <ul class="material-card material-menu" id="options-menu">
    <li class="material-ripple light" handler="OnToggleHiddenEvents" handler-application content="display-events-toggle"></li>
    <li class="material-ripple light" handler="OnToggleNotifications" handler-application content="notifications-toggle"></li>
    <li class="material-ripple light" handler="OnRefresh" handler-application>Refresh</li>
    <li class="material-ripple light" handler="OnSignOut" handler-application>Sign out</li>
  </ul>
  <nav id="main-menu">
    <img handler handler-navigate="/" src="/images/menu-header.jpg?2" />
    <h1 content="username"></h1>
    <ol>
      <li class="material-ripple light icon-schedule" handler="OnDisplayMySchedule" handler-application>My schedule</li>
      <li class="material-ripple light icon-stewards" handler handler-navigate="/volunteers/" content="label-volunteers"></li>
    </ol>
    <ol>
      <li class="material-ripple light" handler handler-navigate="/floors/oceans/"><img src="/images/icon-oceans.jpg"> Oceans <span content-label content="label-oceans"></span></li>
      <li class="material-ripple light" handler handler-navigate="/floors/continents/"><img src="/images/icon-continents.jpg"> Continents <span content-label content="label-continents"></span></li>
      <li class="material-ripple light" handler handler-navigate="/floors/rivers/"><img src="/images/icon-rivers.jpg"> Rivers <span content-label content="label-rivers"></span></li>
      <li class="material-ripple light" handler handler-navigate="/floors/mountains/"><img src="/images/icon-mountains.jpg"> Mountains <span content-label content="label-mountains"></span></li>
    </ol>
  </nav>
  <div id="async-operation-overlay">
    <img src="/images/notifications.png" alt="activating notifications..." />
  </div>
</template>
