<template id="login">
  <div id="content" class="login-screen">
    <img src="/images/login-logo.png" alt="Anime 2015: Do not try this at home!" />
    <section class="material material-card">
      <h1>Steward Portal</h1>
      <p>
        Log in to the Anime 2015 Steward Portal using your full name. Forgot your name? Ask <a href="sms:+447427457387">Peter</a>!
      </p>
      <form id="login-form" class="material-form">
        <div class="material-form-input-text material-form-stretch">
          <input type="text" class="submit" placeholder="Full name" id="login-name" />
          <button type="submit"></button>
          <p class="material-form-error" id="login-error">
            An unknown error has occurred.
          </p>
        </div>
      </form>
    </section>
  </div>
</template>