<template id="schedule-page">
  <div class="background material">
    <div class="material-card material-list-item list-item-steward material-card-root">
      <img content="image" content-attribute="src" />
      <div id="info-box">
        <h2 content="name"></h2>
        <p content="description"></p>
      </div>
    </div>

    <div event-begin="1433977200000" event-end="1434322800000" class="material-card-root material-card warning-card">
      This schedule is <strong>indicative only</strong>!
    </div>

    <div id="schedule-contents"></div>
  </div>
</template>
<template id="schedule-error-page">
  <div class="full-size error-page">
    <img src="/images/no-photo.png" />
    <h2>Oops!</h2>
    <p>
      The page you requested cannot be found.
    </p>
  </div>
</template>