RewriteEngine On

RewriteRule data.json - [F,L,NC]

RewriteRule aanmelding/(.+?)\.html$ index.php?page=aanmelding&slug=$1

RewriteRule (hotel|index|registratie|registratie2|rooster|training|updates|dataverwerking|aanmelding2).html$ index.php?page=$1
